.cover__subtitle {
    width: 360px;
    height: 66px;
    position: absolute;
    bottom: 245px;
    left: 412px;
    margin: 0;
    margin-top: 32px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
/* or 122% */
    text-align: center;
    color: white;
}