.footer__link {
    padding: 0;
}

.footer__link:hover {
    opacity: .8;
}

@media (max-width: 480px) {
    .footer__link {
        padding: 0;
        margin: 0;
        margin-bottom: 32px;
    }
}
