@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__text/_bold/intro__text_bold.css);
@import url(./__list/intro__list.css);
@import url(./__list-row/intro__list-row.css);

.intro {
    max-width: 984px;
    margin: 0 auto;
    padding-top: 92px;
}

@media (max-width: 1024px) {
    .intro {
        max-width: calc(100% - 96px);
    }
}

@media (max-width: 768px) {
    .intro {
        max-width: calc(100% - 48px);
        padding-top: 88px;
    }
}

@media (max-width: 320px) {
    .intro {
        max-width: calc(100% - 32px);
        padding-top: 64px;
    }
}