.footer__link-text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    margin-right: 18px;
    text-decoration: none;
}

@media (max-width: 320px) {
    .footer__link-text {
        font-size: 24px;
        line-height: 24px;
        color: #FFFFFF;
        text-decoration: none;
    }
}
