@import url(./__box/cover__box.css);
@import url(./__link/cover__link.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__image/cover__image.css);

.cover {
    padding-top: 44px;
    max-width: 1184px;
    margin: 0 auto;
}

.cover:hover {
    cursor: pointer;
}

.cover:hover .cover__box::before {
    opacity: 0.8;
    transition: opacity 0.5s linear;
}

@media (max-width: 1024px) {
    .cover {
        max-width: 100%;    
    }
}

@media (max-width: 768px) {
    .cover {
        padding-top: 40px;    
    }
}

@media (max-width: 320px) {
    .cover {
        padding-top: 16px;    
        max-width: 100%;
    }
}
