@import url(./__columns/footer__columns.css);
@import url(./__links/footer__links.css);
@import url(./__link/footer__link.css);
@import url(./__link-text/footer__link-text.css);
@import url(./__copyright/footer__copyright.css);

.footer {
    width: 1184px;
    padding-top: 92px;
    margin: 0 auto;
}

@media (max-width: 1024px) {
    .footer {
        width: calc(100% - 96px);
    }
}

@media (max-width: 768px) {
    .footer {
        width: calc(100% - 48px);
        padding-top: 88px;
    }
}

@media (max-width: 320px) {
    .footer {
        width: calc(100% - 32px);
        padding-top: 64px;
    }
}