.places__site {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    align-items: flex-start;
    justify-content: flex-end;
}
@media (max-width: 1024px) {
    .places__site {
        padding-left: 32px;
    }
}

@media (max-width: 768px) {
    .places__site {
        padding-left: 28px;
    }
}

@media (max-width: 670px) {
    .places__site {
        display: none;
    }
}
